$primary: #198754;

.hero {
  height: 60vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('../images/grocery.jpg') center/cover no-repeat;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}


.alert-dismissible {
    position: fixed;
    top: 85px;     
    right: 20px;
    z-index: 1050;  
    min-width: 320px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-left: 5px solid $primary; 
    background-color: white;

    i {
        margin-right: 10px;
        color: $primary;
    }

    @media (max-width: 576px) {
        left: 20px;
        right: 20px;
        min-width: auto;
    }
}